@font-face
{
    font-family: "Title";
    src: url(../fonts/Title.ttf);
}
@font-face
{
    font-family: "Text";
    src: url("../fonts/opensans/OpenSans-Regular.ttf");
}
@font-face{
    font-family: "aside";
    src: url("../fonts/aside.ttf");
}
@font-face{
    font-family:"MontReg" ;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family:"Helv" ;
    src: url("../fonts/helvetica/HelveticaNeueBold.otf");
}
@font-face {
    font-family: "OSB";
    src: url("../fonts/opensans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OSSB";
    src: url("../fonts/opensans/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "CSB";
    src: url("../fonts/comfortaa/Comfortaa-SemiBold.ttf");
}

body {
    margin: 0;
    padding: 0;
}
/*HEADER*/
header {
    padding-left: 160px;
    padding-top: 160px;
    padding-right: 160px;
    padding-bottom: 160px;
    background-color: #273F87;

}
h1{
    font-family: Helv;
}

#AlignHeader {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    color: white;
    font-family: Helv;
}

header p {
    color: #f1f1f1;
    font-family: OSR;
}
/*NAV*/
.hidden{
    display: none;
}
nav {
    padding: 26px;
    background-color: #273F87;
    text-align: center;
    margin-bottom: 3%;
    font-family: CSB;
}

nav ul {
    transform: translateX(-1.2%);
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #BDBDBD;
    text-decoration: underline;
}

/*NAVCAT*/
.navcategory li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
}
.navcategory-a{
    font-size: 110%;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
nav::after{
    clear: both;
    display: block;
    content: "";
}


/*ASIDE*/
aside {
    float: right;
    max-width: 1300px;
    height: 650px;
    margin-left: 50px;
    margin-right: 50px;
    width: 15%;
    padding: 2%;
    color: #212121;
    border: solid 0.2px rgb(235, 235, 235);
}

aside section h2 {
    text-decoration: underline;
    text-align: center;
    font-family: OSB;
}

aside section ul {
    list-style: none;
    text-align: center;
    margin-left: -12.2%;
    font-family: OSSB;
}

aside section ul li a {
    color: rgb(0, 110, 255);
    opacity: 0.6;
    transition: 0.3s;
}

aside section ul li a:hover {
    opacity: 1;
}
aside a img{
    height:70px;
    margin-right: 15px;
    margin-left: 15px;
}
.partner ul li{
    margin: 5px 0;

}

/*MAIN*/
.container {
    max-width: 1200px;
    width: 80%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    color: #212121;
    font-family: OSR;
}

.container section {
    padding: 25px 25px;
    transition: 0.3s;
}

section h2 {
    margin-bottom: 4%;
    font-family: OSB;
}
.partners{
    max-width: 490px;
    width: 225px;
    height: 225px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/*FOOTER*/
footer {
    clear: both;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 240px;
    padding-top: 80px;
    background-color: #273F87;
    text-align: center;
}

footer p {
    color: white;
    font-size: 19px;
}

.left-side{
    width: 33.33%;
    float: left;
    text-align: left;

}
.left-side ul li{
    list-style: none;
}
.left-side ul li a{
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}
.left-side ul li a:hover{
    text-decoration: underline #FFFFFF;
}
.left-side ul li p{
    margin-left: 0;
}
.center{
    float: left;
    width: 33.33%;
    display:none;

}
.center ul{
    padding-left: 0;
}
.center ul li{
    list-style: none;
    margin: 10px 0;
}
.center ul li a{
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
}
.center ul li a:hover{
    text-decoration: underline #FFFFFF;
}

.social{
    float: left;
    width: 33.33%;
    display: none;

}
.social img{
    max-width: 50px;
    margin-right: 25px;
}

/*----------GALÉRIA----------*/

.gallerycatpics{
    max-width: 1600px;

}
.gallerycatpics ul li{
    display: inline-block;
    list-style: none;
}
.gallerycatpics ul li a{
    text-decoration: none;
    font-family: OSSB;
    font-size: 90%;
    color: black;
    transition: 0.5s;
}
.gallerycatpics ul li a:hover{
    text-decoration: underline black ;
}
.gallerycatpics ul li a img{
    width: 260px;
    height: 260px;
    margin-right: 25px;
    position: center center;
    margin-bottom: 0;
}

#gallerytitle{
    text-align: left;
    margin-left: 312px;
}


/*HOMENEWS*/
.News {
    height: 500px;
    width: 525px;
    display: inline-block;
    margin-right: 20px;
}
.News .goto{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-position: center;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    transition: 0.3s;
}
.News .goto:hover{
    height: 260px;
    box-shadow: 10px 10px 99px -28px rgba(0,0,0, 0.75);
}
/*-------------News----------------*/

.newspanel
{
    max-width: 1600px;
    padding-top: 20px;
    background: rgba(255,255,255, 0.1);
    -webkit-user-select: none;
}
.newspanel h2,
.newspanel h3
{
    background: #273F87;
    font-size: 120%;
    color: #FFFFFF;
    font-family: OSB;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}
.newspanel .content
{
    margin: 0;
    border: 1px solid rgba(0,0,0, 0.05);
    margin-bottom: 15px;
    overflow: hidden;
    padding: 25px;
    transition: height 0.5s;
}

.newspanel img
{
    max-width: 240px;
    max-height: 240px;
    float: left;
    margin-right: 3%;
}
.content #read
{
    background: rgba(0,0,0, 0.33);
    color: #ffffff;
    text-decoration: none;
    padding: 3px 15px;
}
#news_title{
    margin-bottom: 15px;
}
/*READ POST*/

.post h1,p{
    margin-left: 24px;
}
.npic img{
    height: 500px;
    margin-bottom: 24px;
}

